
<h1>Heroe <small>nombre del heroes</small></h1>

<hr>

<div class="row">
  <div class="col text-right">
    <button class="btn btn-danger" routerLink="/heroes" type="button">
      <i class="fa fa-arrow-left"></i> Regresar
    </button>
  </div>
</div>


<div class="row animated fadeIn faster">
  <div class="col">
    <form>
      <div class="form-group">
        <label>FirebaseId</label>
        <input type="text"
          class="form-control"
          disabled
          placeholder="firebaseId">

      </div>
    </form>
  </div>
</div>
